<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <!--CONECTAR A LA BASE DE DATOS-->
  <connectionStrings>
    <add name="conectar" connectionString="datasource=localhost;port=3306;username=root;password=12345;database=Proyecto_PED2 " />
  </connectionStrings>
  <!--CONECTAR A LA BASE DE DATOS-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Diagramming" publicKeyToken="dd7449df9ffcc455" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.6.1.450" newVersion="6.6.1.450" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Common" publicKeyToken="dd7449df9ffcc455" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.3.451" newVersion="1.3.3.451" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>